@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Pangolin&display=swap');
@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

/*variables*/
:root {
    --mcolor: rgb(255, 246, 227);
    --scolor: #fff5a0;
    --tcolor: #ffd9a0;

    --fcolor: rgb(74, 169, 212);
    --ffcolor: rgb(162, 244, 255);

    --border-c: rgb(90, 67, 37);
    --wcolor: rgb(226, 221, 213);

    --cred:rgb(255, 66, 66);
    --cgreen: rgb(194, 236, 139);
    --cyellow: #ffd900;

    --paper: rgb(230, 226, 215);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'New Super Mario Font U', sans-serif;
}
body{
    min-height: 100vh;
    background-color: var(--mcolor);
    background-image: radial-gradient(
        rgba(255, 217, 160, 0.432) 6px,
        transparent 6px
    );
    background-size: 60px 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    min-height: 100dvh;

    display: flex;
    align-items: center;
}
.main-aux {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    justify-content: center; /* centramos horizontalmente */
    align-items: stretch;    /* que los hijos ocupen toda la altura disponible */
}
/*      PANTALLA DEL JUEGO        */
.game-screen {
    background-color: var(--wcolor);
    flex: 1 1 auto;          /* crece para ocupar el espacio disponible */
    max-width: calc(100% - 400px - 5px); /* ancho máximo considerando la barra lateral y el gap */
    max-height: 100dvh;      /* nunca sobrepasa la altura del viewport */
    aspect-ratio: 16 / 9;    /* mantiene proporción */
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid;
    border-color: var(--border-c);
}
.game-menu{
    background: url('../../resources/img/bg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}
.gm-opt{
    width: 35%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: clamp(5px, 2vw, 5rem);
}
.gm-img{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gm-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gmo-start-wrapper,
.gmo-config-wrapper,
.gmo-exit-wrapper,
.gmo-credits-wrapper{
    cursor: pointer;
    background-color: black;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: clamp(3px, calc(3px + (10 - 3) * ((100vw - 360px) / (1200 - 360))), 10px);
    text-decoration: none;
}
.gmo-start-wrapper{ /*medidas independientes*/
    width: 45%;
    clip-path: polygon(
        95% 0%, 5% 15%, 0% 20%, 3% 90%,
        30% 120%, 90% 85%, 97% 80%, 100% 20%
    );
}
.gmo-config-wrapper{
    width: 70%;
    clip-path: polygon(
        0% 10%,       
        10% 5%,      
        90% 10%,    
        100% 50%,   
        85% 110%,    
        50% 120%,   
        15% 100%,   
        0% 40%      
    );
}
.gmo-exit-wrapper{
    width: 30%;
    clip-path: polygon(
        0% 10%,     
        15% 0%,     
        85% 5%,   
        100% 25%,   
        90% 100%, 
        60% 120%,
        20% 110%,  
        0% 80%   
    );
}
.gmo-credits-wrapper{
    width: 40%;
    clip-path: polygon(
        0% 20%,    
        10% 0%,   
        80% 10%,   
        100% 40%,  
        90% 100%,  
        60% 120%,  
        20% 90%,  
        0% 60%    
    );
}
.gmo-start{
    background-color: var(--cgreen);
    font-size: clamp(5px, 2vw, 1.7rem);
    width: 96%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmo-exit{
    background-color: var(--cred);
    font-size: clamp(5px, 2vw, 1.7rem);
    width: 96%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.gmo-config,
.gmo-credits{
    background-color: white;
    font-size: clamp(5px, 2vw, 1.7rem);
    width: 96%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmo-start{
    clip-path: polygon(
        95% 0%, 5% 15%, 0% 20%, 3% 90%,
        30% 120%, 90% 85%, 97% 80%, 100% 20%
    );
}
.gmo-config{
    clip-path: polygon(
        0% 10%,       
        10% 5%,      
        90% 10%,     
        100% 50%,    
        85% 110%,    
        50% 120%,    
        15% 100%,    
        0% 40%       
    );
}
.gmo-exit{
    clip-path: polygon(
        0% 10%,     
        15% 0%,     
        85% 5%,     
        100% 25%,   
        90% 100%,   
        60% 120%,   
        20% 110%,  
        0% 80%    
    );
}
.gmo-credits{
    clip-path: polygon(
        0% 20%,     
        10% 0%,   
        80% 10%,    
        100% 40%, 
        90% 100%,  
        60% 120%,  
        20% 90%,   
        0% 60% 
    );
}

/*      CONFIG      */
.gm-config, /*FONDOS PARA SETTINGS, CREDITS, PAUSE*/
.gm-credits,
.gm-pause{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmc-set,
.gmct-cdts,
.gmp-p{
    background-color: white; /*var(--paper)*/
    display: flex;

    position: relative;
    box-shadow: 
    clamp(3px, calc(3px + (15 - 3) * ((100vw - 360px) / (1200 - 360))), 15px)
    clamp(3px, calc(3px + (15 - 3) * ((100vw - 360px) / (1200 - 360))), 15px)
    0px
    0px rgba(0, 0, 0, 0.5);
    transform: rotate(2deg);

    border-radius: 8px;
}
.gmc-resume{
    position: absolute;
    top: 0; /* fijo al borde superior del contenedor */
    left: 50%;
    transform: translate(-50%, -60%); /* lo sube justo por encima */
    background-color: black;
    clip-path: polygon(
        50% 0%,  
        100% 25%,
        100% 75%, 
        50% 100%,
        0% 75%,  
        0% 25%   
    );
    width: clamp(20px, calc(20px + (100 - 20) * ((100vw - 360px) / (1200 - 360))), 100px);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gmc-play{
    font-size: clamp(12px, calc(12px + (45 - 12) * ((100vw - 360px) / (1200 - 360))), 45px);
    width: 88%;
    height: 88%;
    background-color: var(--cgreen);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    clip-path: polygon(
        50% 0%,  
        100% 25%,
        100% 75%, 
        50% 100%,
        0% 75%,   
        0% 25%  
    );
}
.gmc-close,
.gmct-close,
.gmp-close{
    position: absolute;
    top: 0; /* fijo al borde superior del contenedor */
    left: 50%;
    transform: translate(-50%, -60%); /* lo sube justo por encima */
    background-color: black;
    clip-path: polygon(
        50% 0%,  
        100% 25%,
        100% 75%, 
        50% 100%,
        0% 75%,  
        0% 25%   
    );
    font-size: clamp(12px, calc(12px + (60 - 12) * ((100vw - 360px) / (1200 - 360))), 60px);
    width: clamp(20px, calc(20px + (80 - 20) * ((100vw - 360px) / (1200 - 360))), 80px);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gmc-x,
.gmct-x,
.gmp-x{
    width: 88%;
    height: 88%;
    background-color: var(--cred);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    clip-path: polygon(
        50% 0%,  
        100% 25%,
        100% 75%, 
        50% 100%,
        0% 75%,   
        0% 25%  
    );
}
.gmc-left{
    border-right: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(5px, 1vw, 10px);
}
.gmc-page,
.gmc-gamemode,
.gmc-music-sound button{
    border: clamp(1px, calc(1px + (3 - 1) * ((100vw - 360px) / (1200 - 360))), 3px) solid black;
}

.gmc-page{
    width: clamp(12px, 2vw, 25px);

    aspect-ratio: 1/1;
    border-radius: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}
.gmcp{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);;
}
.gmc-page.uno,
.gmc-page.dos{
    background-color: rgb(164, 137, 002);
}
.gmc-page.tres,
.gmc-page.cuatro{
    background-color: rgb(158, 156, 154);
}
.gmc-page.cinco{
    background-color: rgb(100, 141, 046);
}
.gmc-set-aux,
.gmct-set-aux,
.gmp-set-aux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: clamp(2px, calc(2px + (10 - 2) * ((100vw - 360px) / (1200 - 360))), 10px);
    padding: clamp(2px, calc(2px + (10 - 2) * ((100vw - 360px) / (1200 - 360))), 10px);

    background: repeating-linear-gradient(
        180deg,       
        var(--fcolor) 0,    
        var(--fcolor) 2px,   
        transparent 2px,
        transparent 40px /* espacio entre líneas */
    );
}
.gmc-set-h,
.gmct-set-h,
.gmp-set-h{
    height: clamp(30px, 8vw, 120px);
}
.gmc-set-h img,
.gmct-set-h img,
.gmp-set-h img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gmc-set-h,
.gmc-music-sound,
.gmc-gamemode,
.gmc-btns{
    z-index: 5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: clamp(2px, calc(2px + (30 - 2) * ((100vw - 360px) / (1200 - 360))), 30px);
}
.gmc-music-sound button,
.gmc-gamemode{
    background-color: white;
    border-radius: clamp(2px, calc(2px + (10 - 2) * ((100vw - 360px) / (1200 - 360))), 10px);
}
.gmc-music-sound button{
    box-shadow: 
    clamp(1px, calc(1px + (5 - 1) * ((100vw - 360px) / (1200 - 360))), 5px)
    clamp(1px, calc(1px + (5 - 1) * ((100vw - 360px) / (1200 - 360))), 5px)
    0px
    0px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    font-size: clamp(8px, calc(8px + (40 - 8) * ((100vw - 360px) / (1200 - 360))), 40px);
    /*20px lo minimo    /   80(lo maximo) - 20(lo minimo)   /   
    100vw menos lo minimo de la pantalla q es 360px     /   
    "maximo" de la pantalla 1200px*/
    width: clamp(20px, calc(20px + (80 - 20) * ((100vw - 360px) / (1200 - 360))), 80px);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.gmc-music-sound button i {
    font-size: inherit; /*utiliza el tamaño de fuente correcto q es 40px*/
}
/*.gmc-btns button,*/
.gmc-gamemode{
    z-index: 4;
    font-size: clamp(8px, calc(8px + (40 - 8) * ((100vw - 360px) / (1200 - 360))), 40px);
    padding: clamp(2px, calc(2px + (10 - 2) * ((100vw - 360px) / (1200 - 360))), 10px);
}
.gmc-reload-wrapper{
    background-color: black;
    clip-path: polygon(
        40% 0%,  
        100% 15%,
        95% 70%, 
        60% 100%,
        10% 85%,   
        0% 30%  
    );

    font-size: clamp(12px, calc(12px + (80 - 12) * ((100vw - 360px) / (1200 - 360))), 80px);
    width: clamp(20px, calc(20px + (150 - 20) * ((100vw - 360px) / (1200 - 360))), 150px);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all .3s ease;
    z-index: 5;
}
.gmc-reload{
    background-color: var(--cgreen);
    clip-path: polygon(
        40% 0%,  
        100% 15%,
        95% 70%, 
        60% 100%,
        10% 85%,   
        0% 30%  
    );
    height: 92%;
    width: 92%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmc-save-wrapper,
.gmc-quit-wrapper,
.gmc-save,
.gmc-quit{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: clamp(8px, calc(8px + (40 - 8) * ((100vw - 360px) / (1200 - 360))), 40px);
    transition: all .3s ease;
    text-decoration: none;
}
.gmc-save-wrapper{
    width: clamp(40px, calc(40px + (180 - 40) * ((100vw - 360px) / (1200 - 360))), 180px);
    height: clamp(20px, calc(20px + (80 - 20) * ((100vw - 360px) / (1200 - 360))), 80px);
    background: black; /* verde */
    font-weight: bold;
    clip-path: polygon(
        15% 5%,   
        85% 10%,  
        100% 25%,  
        90% 95%,  
        10% 90%,  
        0% 50%    
    );
}
.gmc-quit-wrapper{
    width: clamp(40px, calc(40px + (180 - 40) * ((100vw - 360px) / (1200 - 360))), 180px);
    height: clamp(20px, calc(20px + (80 - 20) * ((100vw - 360px) / (1200 - 360))), 80px);
    background: black; /* rojo */
    font-weight: bold;
    color: white;
    clip-path: polygon(
        15% 10%, 
        90% 5%,   
        100% 40%, 
        80% 90%, 
        10% 95%,  
        0% 50%    
    );
}
.gmc-save{
    width: 94%;
    height: 88%;
    background-color: var(--cgreen);
    clip-path: polygon(
        15% 5%,    
        85% 10%,  
        100% 25%, 
        90% 95%,  
        10% 90%,  
        0% 50%   
    );
}
.gmc-quit{
    width: 94%;
    height: 88%;
    background: var(--cred); /* rojo */
    clip-path: polygon(
        15% 10%,  
        90% 5%,  
        100% 40%, 
        80% 90%,   
        10% 95%,  
        0% 50%   
    );
}
.gmc-img{
    z-index: 2;
}
#stars, #spiral, #powow, #cinta, #cintados{
    position: absolute;
    aspect-ratio: 1/1;
}
#spiral{
    left: 13%;
    bottom: 45%;
    transform: translate(-20%, 50%);
    width: clamp(40px, calc(40px + (120 - 40) * ((100vw - 360px) / (1200 - 360))), 120px);
}
#stars{
    right: 0;
    bottom: 30%;
    width: clamp(50px, calc(50px + (160 - 50) * ((100vw - 360px) / (1200 - 360))), 160px);
}
#powow{
    top: 0; /* fijo al borde superior del contenedor */
    left: 100%;
    transform: translate(-40%, -60%); /* lo sube justo por encima */
    width: clamp(40px, calc(40px + (230 - 40) * ((100vw - 360px) / (1380 - 360))), 230px);
}
#cinta{
    top: 0; /* fijo al borde superior del contenedor */
    right: 100%;
    transform: translate(80%, -40%) rotate(-25deg); /* lo sube justo por encima */
    width: clamp(60px, calc(60px + (170 - 60) * ((100vw - 360px) / (1200 - 360))), 170px);
    object-fit: contain;
}
#cintados{
    bottom: 0; /* fijo al borde superior del contenedor */
    left: 100%;
    transform: translate(-65%, 38%) rotate(-20deg); /* lo sube justo por encima */
    width: clamp(60px, calc(60px + (170 - 60) * ((100vw - 360px) / (1200 - 360))), 170px);
    object-fit: contain;
}

.arrow,
/*.gmc-btns button,*/
.gmc-music-sound button{
    cursor: pointer;
}
.gmc-display {
  display: none;
}
.gmc-display.active {
  display: block;
}

/*   CREDITOS    */
.gmct-names{
    font-size: clamp(6px, calc(6px + (25 - 6) * ((100vw - 360px) / (1200 - 360))), 25px);

    display: flex;
    flex-direction: column;
    gap: clamp(5px, calc(5px + (25 - 5) * ((100vw - 360px) / (1200 - 360))), 25px);
}
.gmct-names p{
    border-bottom: clamp(1px, calc(1px + (2 - 1) * ((100vw - 360px) / (1200 - 360))), 2px) solid black;
    padding: clamp(2px, calc(2px + (10 - 2) * ((100vw - 360px) / (1200 - 360))), 10px);

    transition: all .3s ease;
}
#raul:hover,
#danna:hover,
#alberto:hover,
.gmc-save-wrapper:hover, 
.gmc-quit-wrapper:hover,
#music-btn:hover, 
#volume-btn:hover,
.gmc-reload-wrapper:hover{
    transform: scale(1.5);
    cursor: pointer;
}

/*      USUARIO     */
.game-display{
    background-color: var(--wcolor);
    border: 4px solid;
    border-color: var(--border-c);
    
    flex: 0 0 400px;      /* ancho fijo de la barra lateral */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.game-user {
    position: relative; /* referencia para posicionar el pfp */
    text-align: center;

    background-color: transparent;
}
.gu-banner{
    height: 200px;

    background-color: white;
    background-size: cover;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.gu-pfp{
    width: 120px;              /* tamaño fijo */
    aspect-ratio: 1/1;
    margin-top: -70px;         /* subimos para sobresalir del banner */
    z-index: 1;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    display: inline-block;     /* para centrar */
    cursor: pointer;
}
.gu-pfp img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;

    display: block; /*respeta el tamaño de la imagen, sin espacios*/
    transition: all .3s ease;
}
.game-uname{
    text-align: center;
    font-size: 2rem;

    position: relative;
    cursor: pointer;
}
.game-uname-content {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%; /* justo debajo del nombre */
    left: 50%; /* al 50% del contenedor padre */
    transform: translateX(-50%); /* lo centra horizontalmente */

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: clamp(2px, calc(2px + (5 - 2) * ((100vw - 360px) / (1200 - 360))), 5px);
    
}
.game-uname-content button{
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#yellow{
    background-color: var(--cyellow);
}
#green{
    background-color: var(--cgreen);
}
#blue{
    background-color: var(--fcolor);
}
#red{
    background-color: var(--cred);
}
#rainbow{
    background: linear-gradient(to right, red, yellow, green, blue, purple);
}
@keyframes rainbow{
    0%{color: red;}
    25%{color: yellow;}
    50%{color: green;}
    75%{color: blue;}
    100%{color: purple;}
}
.game-uname:hover .game-uname-content {
    display: inline-block;
}

.game-stats{
    padding: 10px;

    display: flex;
    flex-direction: column; /* hijos en vertical */
    flex: 1; /* ocupa el resto de su contenedor padre */
    position: relative;

    background-color: transparent;
}
.status-wrapper{
    background-color: black;
    clip-path: polygon(
        5% 0%, 95% 15%, 100% 20%, 97% 90%,
        70% 120%, 10% 85%, 3% 80%, 0% 20%
    );

    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
}
.status{
    background-color: white;
    clip-path: polygon(
        5% 0%, 95% 15%, 100% 20%, 97% 90%,
        70% 120%, 10% 85%, 3% 80%, 0% 20%
    );

    width: 98%;
    height: 93%;

    font-size: 2rem;
    text-align: center;
    padding: 10px;
    font-weight: bolder;

    background-size: cover;
}
.status img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.resume{
    background-color: white;
    display: flex;
    flex: 1;

    position: relative;
    border: 4px solid var(--border-c);
    border-radius: 8px;
}
.resume-img img{
    position: absolute;
    width: 30%;
}
#exc{
    left: 10px;
    top: -50px;
    z-index: 5;
}
#sun{
    right: 10px;
    top: 50px;
}
#star{
    left: 30px;
    bottom: 10px;
}
#pow{
    right: 10px;
    bottom: 90px;
    z-index: 5;
}

.r-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding:  0 15px 0px 10px;

    border-right: 2px solid red;
}
.rl-page{
    background-color: rgb(209, 209, 209);
    border: 3px solid black;
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
.rl-container{
    background: repeating-linear-gradient(
        180deg,       
        var(--fcolor) 0,    
        var(--fcolor) 2px,   
        transparent 2px,
        transparent 40px /* espacio entre líneas */
    );
    flex: 1;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.r-bscore-aux{
    width: 100%;
    display: flex;
}
#aux-one{
    justify-content: start;
}
#aux-two{
    justify-content: center;
}
#aux-three{
    justify-content: start;
}
#aux-four{
    justify-content: end;
}

.r-bscore,
#danna{
    background-color: var(--cyellow);
    transform: rotate(-2deg);
    z-index: 6;
}
.r-bscore-r, 
#raul{
    background-color: var(--cgreen);
    transform: rotate(2deg);
    z-index: 6;
}
.r-bscore-t, 
#alberto{
    background-color: var(--cred);
    transform: rotate(2deg);
    z-index: 6;
}
.r-bscore,
.r-bscore-r,
.r-bscore-t{
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    
    flex: 0 0 auto;
    padding: 10px;
    transition: all .3s ease;
}

/*  HOVER   */
.r-bscore:hover,
.r-bscore-r:hover,
.r-bscore-t:hover{
    transform: scale(1.5);
    
    transform-origin: right center;
    cursor: pointer;
}


/*      KEYFRAMES ANIMATION     */
/*
.gmo-start-wrapper:hover,
.gmo-config-wrapper:hover,
.gmo-credits-wrapper:hover,
.gmo-exit-wrapper:hover{
  animation: flash .5s ease infinite alternate;
}
@keyframes flash {
	from { opacity: 1; }	
	to { opacity: 0; }
}
*/

/*DESKTOP* JALA/
/*
    1920×1080
    1536×864
    1366×768
*/

/*MOBILE* JALA/
/*
    360×800
    390×844
    393×873
*/

/*TABLETS* VEMOS xd/
/*
    768×1024
    810×1080
    820×1180
*/

/*      BREAKPOINTS RESPONSIVE      */
@media(max-width:1366px){
    .main-aux{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .game-screen {
        max-width: 100%; /* ancho máximo considerando la barra lateral y el gap */
        max-height: 100dvh;      /* nunca sobrepasa la altura del viewport */
        aspect-ratio: 16 / 9;    /* mantiene proporción */
    }
}
@media(max-width:450px){
    .r-bscore, .r-bscore-r, .r-bscore-t{
        transform: rotate(0deg);
    }
    .r-bscore:hover, .r-bscore-r:hover, .r-bscore-t:hover{
        transform: scale(1.3);
        transform-origin: center center;
    }
}